Repository ansatpro/ansatpro-web, pull requests merged in 2025-04, with the labels that each got.

#4 Integrate Tailwind CSS and add sharp library dependency
  components.json
  package-lock.json
  package.json
  postcss.config.mjs
  src/app/globals.css
  src/app/page.js
  src/components/ui/button.jsx
  src/lib/utils.js
Labels: enhancement

#29 add Preceptor Home and Settings pages
  src/app/preceptor/home/page.js
  src/app/preceptor/settings/page.js
Labels: User Management, Feedback System, Frontend Component, feature

#31 Pull Request: Implement Email Verification and Student Creation Endpoints for ANSAT Pro
  lib/function1/.gitignore
  lib/function1/.prettierrc.json
  lib/function1/README.md
  lib/function1/package-lock.json
  lib/function1/package.json
  lib/function1/src/main.js
Labels: Medium Priority, Frontend Component, feature, backend

#34 Develop Facilitator Homepage with Key Functionalities and User-Friendly Design
  src/app/facilitator/home/page.js
Labels: feature, Facilitator Frontend

#37 Pull Request: Implement Notification Retrieval, Student Listing, and Student Deletion Endpoints for ANSAT Pro
  lib/function1/src/main.js
Labels: Medium Priority, feature, backend

#43 Pull Request: Add Student Details Retrieval, Review Posting, and Notification Update Endpoints
  lib/function1/src/main.js
Labels: Medium Priority, feature, backend

#41 Implement Notification System for Facilitators
  src/app/facilitator/notification/page.js
Labels: feature, Facilitator Frontend

#44 Add preceptor_related Appwrite Function with full logic and documentation
  functions/add_metadata/.gitignore
  functions/add_metadata/.gitkeep
  functions/add_metadata/.prettierrc.json
  functions/add_metadata/README.md
  functions/add_metadata/package-lock.json
  functions/add_metadata/package.json
  functions/add_metadata/src/main.js
  functions/appwrite.js
  functions/function1/.gitignore
  functions/function1/.prettierrc.json
  functions/function1/README.md
  functions/function1/package-lock.json
  functions/function1/package.json
  functions/function1/src/main.js
  functions/functions_README.md
  functions/guest_request/.gitignore
  functions/guest_request/.gitkeep
  functions/guest_request/.prettierrc.json
  functions/guest_request/README.md
  functions/guest_request/package-lock.json
  functions/guest_request/package.json
  functions/guest_request/src/main.js
  functions/preceptor_related/.gitignore
  functions/preceptor_related/.prettierrc.json
  functions/preceptor_related/README.md
  functions/preceptor_related/package-lock.json
  functions/preceptor_related/package.json
  functions/preceptor_related/src/main.js
  lib/guest_request/README.md
  lib/preceptor_related/README.md
  lib/preceptor_related/src/main.js
  src/components/ui/FacilitatorTopBar.js
  src/components/ui/alert.jsx
  src/components/ui/checkbox.jsx
  src/components/ui/input.jsx
  src/components/ui/select.jsx
Labels: documentation, enhancement, backend

#46 Implement Preceptor Feedback Workflow: Search, comment, AI Matching, and Submission Success Pages
  src/app/preceptor/addPreceptorFeedbacks/page.js
  src/app/preceptor/preceptorAiFeedback/page.js
  src/app/preceptor/searchStudents/page.js
  src/app/preceptor/success/page.js
Labels: Feedback System, feature, preceptor frontend

#48 Pull Request: Add AI Summary Generation and Bulk User Verification Endpoints
  functions/function1/src/main.js
Labels: Medium Priority, backend

#55 Implement Comprehensive Export System for Facilitators
  src/app/facilitator/export/[id]/layout.js
  src/app/facilitator/export/[id]/studentDetail/aiSummary/layout.js
  src/app/facilitator/export/[id]/studentDetail/aiSummary/page.js
  src/app/facilitator/export/[id]/studentDetail/page.js
  src/app/facilitator/export/page.js
  src/app/facilitator/export/success/page.js
Labels: High Priority, feature, Facilitator Frontend

#49 Implement Facilitator Layout and Settings Page
  src/app/facilitator/layout.js
  src/app/facilitator/settings/page.js
Labels: feature, Facilitator Frontend

#51 Implement Student Management System for Facilitators
  src/app/facilitator/student/page.js
  src/app/facilitator/student/studentList/page.js
  src/app/facilitator/student/studentRegister/page.js
  src/app/facilitator/student/success/page.js
Labels: High Priority, feature, Facilitator Frontend

#53 Implement Comprehensive Feedback Management System for Facilitators
  src/app/facilitator/feedback/[id]/feedbackDetail/page.js
  src/app/facilitator/feedback/[id]/layout.js
  src/app/facilitator/feedback/[id]/studentDetail/createFeedback/page.js
  src/app/facilitator/feedback/[id]/studentDetail/createFeedback/success/page.js
  src/app/facilitator/feedback/[id]/studentDetail/page.js
  src/app/facilitator/feedback/page.js
Labels: High Priority, feature, Facilitator Frontend
